html, body{
  height: 100%;
  width: 100%;
  margin: 0px;
}

.container{
  width: 100%;
  height: 100%;
  border: 2px solid red;
  box-sizing: border-box;
}

.center{
  border: 1px solid blue;
  width: 200px;
  margin: 0px auto;
  height: 200px;
  top: 50%;
  position: relative;
  transform: translateY(-50%);
  text-align: center;
  line-height: 100%;
  box-shadow: 1px 1px 5px black;
}
